<main>
  <div class="education">

    <div class="title-h2">
      <h2>Education</h2>
    </div>

    <!-- Intro -->

    <div class="intro-education">
      <p>
        Retrouvez ici mes formations et diplômes. Pour plus de détails, cliquez sur chaque tiroir.
      </p>
    </div>

    <!-- Accordion -->

    <div class="accordion md-accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Ingénierie informatique (génie logiciel)
            <span class="badge badge-primary">En cours</span> <!-- badge En cours -->
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>2020-2023 - Ingénierie informatique </p>
            <p><b>Ecole :</b> ESPRIT-Tunisie</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Licence appliquée en Génie Electrique
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p>2015-2017 - Licence</p>
            <p><b>Ecole :</b> ISETJ - Institut Supérieur des Etudes technologiques de Jendouba </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Baccalauréat
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <p>2016- Science technique</p>
            <p><b>Lycée :</b> 9 Avril Jendouba</p>
            <p><b>Options :</b>Projet</p>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
  </div>

</main>
