.subtitle-h3 {
  text-align: center;
  color: var(--fourth);
  padding-bottom: 2rem;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.container-src {
  display: flex;
  align-items: center;
  justify-content: center;
}

.src {
  background-image: url("../../assets/images/profile.png");
  width: 20rem;
  border-radius: 50%;
  height: 15rem;
  background-size: cover;
  background-position: top center;
}

.credit-photo {
  font-size: 0.5rem;
  text-align: center;
}
