<main>

  <!-- Intro -->

  <div class="title-h2">
    <h2>About</h2>
  </div>

  <div class="subtitle-h3">
    <h3>Bonjour à tous et bienvenue sur mon CV !</h3>
  </div>

  <div>
    <p>
      C'est en septembre 2019,que j'ai décidé de me lancer dans le développement web.
      <b>Initialement un technicien en génie électrique</b>, j'ai eu l'occasion, à travers ce premier métier, de cotoyer de nombreux développeurs.
      C'est donc tout naturellement, et parce que <b>le digital a toujours eu une importance crutiale</b>
      à mes yeux, que j'ai commencé à m'intéresser à ce métier.Quelques semaines après que j'ai pris mon diplôme
      , je passais les tests d'une école d'informatique (<b>ESPRIT</b>) à Tunis et les réussissais !
    </p>
  </div>

  <br>

  <div class="subtitle-h3">
    <h3>Angular, pour une composition modulaire</h3>
  </div>

  <div>
    <p>
      Je me suis très vite tournée vers <b>Angular pour travailler côté Front</b>.
      La logique et l'architecture structurée que propose ce framework correspond à ma personnalité : j'aime l'organisation et la modernité.
      <b>Le modèle MVC</b> sur lequel repose l'architecture Angular est particulièrement adapté à ma manière structurée de travailler, puisqu'il sépare données, actions et visuel.
      J'utilise notamment la librairie Bootstrap, que je trouve plus intéressante que Material, car plus adaptable, à mon sens.
    </p>
  </div>

  <br>

  <div class="subtitle-h3">
    <h3>Un code propre et structuré</h3>
  </div>

  <div>
    <p>
      <b>Je suis attaché à coder de façon propre et structurée</b>, dans l'intérêt du travail collaboratif et/ou open-source.
      En entreprise, un développeur peut passer parfois plus de temps à lire du code qu'à l'écrire.
      Il est donc important, à mon sens, de <b>respecter certaines règles de programmation</b> telles que les règles de tabulation ou encore l'insertion de commentaires explicatifs.
    </p>
  </div>

  <br>

  <div class="subtitle-h3">
    <h3>Un goût prononcé pour l'apprentissage</h3>
  </div>

  <div>
    <p>
      Acharné dans mon travail et avide d'apprentissage, il me tient toujours à coeur d'<b>être un atout pour mon entreprise</b>, tant au travers mes compétences que par ma personnalité souriante, diplomate et pédagogue.
      <b>Passionnée par la robotique</b>, j'ai eu l'occasion de développer mes compétences lors d'une formation dédiée.
      La musique fait partie de ma vie depuis toujours
      , ayant grandi dans une famille de musiciens,
      ma sensibilité musicale a nourrit mon potentiel artistique.
    </p>
  </div>

  <br>

  <div class="subtitle-h3">
    <h3>Geekette au naturel</h3>
  </div>

  <div>
    <p>
      <b>Geekette depuis toujours</b>, j'aime passer des dimanches pluvieux sur mes jeux vidéos (PS4), tout en admirant les efforts graphiques fournis au fil des années.
      Mais la nature, et le temps que j'y passe, a une grande importance à mes yeux. Mes chiens m'accompagnent lors de randonnées, à la <b>découverte de nouveaux espaces naturels</b> toujours plus riches !
    </p>
  </div>

  <br>

  <div class="container-src">
    <div class="src"></div>
  </div>
  <div class="credit-photo">Photographe : <a title="Voir son feed Instagram" href="https://www.instagram.com/paulferlinde/" target="_blank">Paul Ferlinde</a></div>

</main>>
