<main>

  <div class="experience">

    <div class="title-h2">
      <h2>Experience</h2>
    </div>

    <!-- Intro -->

    <div class="intro-experience">
      <p>
        Retrouvez ici mes expériences professionnelles. Pour plus de détails, cliquez sur chaque tiroir.
      </p>
    </div>

    <!-- Accordion -->

    <div class="accordion md-accordion" id="accordionExample">

      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Développeur Full Stack
            <span class="badge badge-primary">En cours</span> <!-- badge En cours -->
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>2022-2023 - PURA Solutions</p>
            <p><b>Contrat :</b> stagiaire</p>
            <h3 class="title-h3">Stack technique</h3>
              <p><b>Langage front :</b> Angular 9, HTML 5, TypeScript</p>
              <p><b>Langage back :</b> Java, Spring Boot, Hibernate/JPA, API REST, Swagger</p>
              <p><b>Générateur d'application :</b> JHipster</p>
              <p><b>IDE :</b> IntelliJ</p>
              <p><b>Base de données :</b> PostgreSQL</p>
            <h3 class="title-h3">Missions</h3>
              <p>• Participation à la roadmap produit</p>
              <p>• Conception et développement de nouvelles fonctionnalités front-end / back-end</p>
              <p>• Propositions sur l'amélioration des solutions</p>
              <p>• Veille technologique</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Développeur Front-End
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>

        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p>avril-septembre 2021 - Auto-entrepreneur</p>
            <h3 class="title-h3">Stack technique</h3>
              <p><b>Langage front :</b> Angular 9, HTML 5, TypeScript</p>
              <p><b>Hébergement :</b> OVH</p>
              <p><b>IDE :</b> Visual Studio Code</p>
              <p><b>Outils :</b> GitHub</p>
            <h3 class="title-h3">Missions</h3>
              <div class="link-change-text">
                <a class="link-hover" href="https://www.picandyou.fr" title="Visiter le site" target="_blank">
                  <span class="link-title">Moez Bijouterie</span>
                  <span class="link-url">www.moez.fr</span>
                </a>
              </div>
                <p>Site vitrine présentant la future plateforme collaborative pour créatifs Moez Bijouterie.</p>
                <p>Design, Conception & Développement Web</p>
                <p>Portfolio de photographe.</p>
                <p>Design, Conception & Développement Web</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Photographe & Chargée de Communication
            <i class="fas fa-angle-down rotate-icon"></i>
            </button>
          </h2>
        </div>

        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p>2019-2020 - Alias Photography</p>
            <h3 class="title-h3">Environnement</h3>
              <p><b>Logiciels :</b> Photoshop, Lightroom, Topaz, Illustrator, Adobe XD, Hootsuite</p>
              <p><b>CMS :</b> Wordpress</p>
              <p><b>Pratiques :</b> SEO, SMO, étude UX Design</p>
            <h3 class="title-h3">Missions</h3>
              <p>• Création, gestion et amplification du site web</p>
              <p>• Amplification du référencement site et réseaux sociaux</p>
              <p>• Création et évolution de l'identité graphique</p>
              <p>• Animation, suivi et aplification des réseaux sociaux</p>
          </div>
        </div>
      </div>
<br>
<br>
<br>
<br>
<br>
     

      

    </div>

  </div>

</main>
