<main>

  <!-- Intro -->

  <div class="title-h2">
    <h2>Projects</h2>
  </div>

  <div>
    <p>Vous découvrirez ici mes projets personnels ou liés à ma formation.</p>
  </div>

  <!-- Blocs projets -->

  <div>
    <div class="img-overlay">
      <img class="image" src="../../assets/images/projects/womenarea.png" alt="projet site vitrine picandyou.fr" />
      <div class="img-caption">
       <div class="link">
         <h3 class="title">WomenArea51</h3>
         <span class="work">Design, conception & développement web</span>
         <br><br>
         <a href="https://www.youtube.com/watch?v=3iMzUz37T_o" target="_blank" class="btn btn-primary btn-block">Voir le projet
           <i class="fa fa-chevron-circle-right fa-align-right"></i>
         </a>
       </div>
      </div>
     </div>

     <div class="img-overlay">
      <img class="image" src="../../assets/images/projects/hrapplication.png" alt="Portfolio photographe portrait & alternatif" />
      <div class="img-caption">
       <div class="link">
         <h3 class="title">HR Application</h3>
         <span class="work">Design, conception & développement web</span>
         <br><br>
         <a href="https://www.youtube.com/watch?v=OyURmveL5sU" target="_blank" class="btn btn-primary btn-block">Voir le projet
           <i class="fa fa-chevron-circle-right fa-align-right"></i>
         </a>
       </div>
      </div>
     </div>
  </div>
</main>
