<main>

  <!-- Intro -->

  <div class="title-h2">
    <h2>Projects</h2>
  </div>

  <div>
    <p>Vous découvrirez ici mes projets personnels ou liés à ma formation.</p>
  </div>

  <!-- Blocs projets -->

  <div>
    <div class="img-overlay">
      <img class="image" src="../../assets/images/projects/picandyou.PNG" alt="projet site vitrine picandyou.fr" />
      <div class="img-caption">
       <div class="link">
         <h3 class="title">Pic & You</h3>
         <span class="work">Design, conception & développement web</span>
         <br><br>
         <a href="https://www.picandyou.fr" target="_blank" class="btn btn-primary btn-block">Voir le projet
           <i class="fa fa-chevron-circle-right fa-align-right"></i>
         </a>
       </div>
      </div>
     </div>

     <div class="img-overlay">
      <img class="image" src="../../assets/images/projects/khalypix.PNG" alt="Portfolio photographe portrait & alternatif" />
      <div class="img-caption">
       <div class="link">
         <h3 class="title">Khaly Pix</h3>
         <span class="work">Design, conception & développement web</span>
         <br><br>
         <a href="https://www.khalypix.com" target="_blank" class="btn btn-primary btn-block">Voir le projet
           <i class="fa fa-chevron-circle-right fa-align-right"></i>
         </a>
       </div>
      </div>
     </div>
  </div>
</main>
