<main>

  <div class="mentions-legales">

    <h2>Mentions Légales</h2>

      <p>Merci de lire avec attention les différentes modalités d'utilisation du présent site avant d'y parcourir ses pages.
        En vous connectant sur ce site, vous acceptez sans réserves les présentes modalités.
      </p>
    <br>
      <div>
        <h3>Editeur du Site :</h3>
          <p>Moez Mezrigui - Tunis,Tunisie
          <br>Téléphone : +216 54 116 759
          <br>Email : moez.mzg@gmail.com
          <br>Site Web : www.moezdev.com</p>
      </div>
    <br>
      <div>
        <h3>Hébergement :</h3>
          <p>Hébergeur : OVH
          <br>2 rue Kellermann 59100 Roubaix
          <br>Site Web : www.ovh.com</p>
      </div>
    <br>
      <div>
        <h3>Développement :</h3>
        <p>Moez Mezrigui - Tunis,Tunisie
          <br>Téléphone : +216 54 116 759
          <br>Email : moez.mzg@gmail.com
          <br>Site Web : www.moezdev.com</p>
      </div>
    <br>
      <div>
        <h3>Conditions d'utilisation</h3>
          <p>Ce site (www.moezdev.com) est développé en différents langages web (HTML5, SCSS, TypeScript, etc). Pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc.
          <br><br>Ce site a pour vocation de présenter le curriculum vitae de l'éditeur / développeuse Moez Mezrigui, afin qu'elle puisse rester à l'écoute du marché et transmettre un CV en ligne à de potentiels employeurs.
          <br><br>L'éditrice/développeuse du site met en œuvre tous les moyens dont elle dispose pour assurer une information fiable et une mise à jour régulière de son site internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès d'elle, et signaler toutes modifications du site qu'il jugerait utile. L'éditrice / développeuse n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
          </p>
      </div>
    <br>
      <div>
        <h3>Cookies</h3>
          <p>Le site www.moezdev.com peut être amené à vous demander l'acceptation de cookies pour des besoins de statistiques et d'affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations.
          </p>
      </div>
    <br>
      <div>
        <h3>Liens hypertextes</h3>
          <p>Le site internet www.moezdev.com peut proposer des liens vers d'autres sites internet ou d'autres ressources disponibles sur Internet. L'éditeur ne dispose d'aucun moyen pour contrôler les sites en connexion avec son site internet. L'éditeur ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Il ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu'ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.
          <br><br>Les utilisateurs et les visiteurs du site internet www.moezdev.com ne peuvent pas mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de l'éditeur.
          <br><br>Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction du site internet www.moezdev.com, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. L'éditeur se réserve le droit d'accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
          </p>
      </div>
    <br>
      <div>
        <h3>Limitation contractuelles sur les données :</h3>
          <p>Les informations contenues sur ce site sont aussi précises que possible et mises à jour régulièrement, mais peuvent toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email accessible sur le site en décrivant le problème de la manière la plus précise possible (page posant problème, type d'ordinateur et de navigateur utilisé, etc).
          <br><br>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, l'éditeur ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement. De plus, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
          <br><br>Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de l'éditeur.
          </p>
      </div>
    <br>
      <div>
        <h3>Propriété intellectuelle :</h3>
          <p>Tout le contenu du présent site www.moezdev.com, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de l'éditeur à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
          <br><br>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de l'éditeur. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.
          </p>
      </div>
    <br>
      <div>
        <h3>Litiges :</h3>
          <p>Les présentes conditions du site www.moezdev.com sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.
          </p>
      </div>
    <br>
      <div>
        <h3>Données personnelles :</h3>
          <p>De manière générale, vous n'êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet www.cyrielledev.com.
          <br><br>Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction, le nom de votre société, votre adresse électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ».
          <br><br>Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser certains services du site, notamment celui de solliciter des renseignements par le formulaire qui vous est proposé en ligne, dans la rubrique « contact ».
          <br><br>Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors d'une simple navigation sur notre site Internet, notamment : des informations concernant l'utilisation de notre site, comme les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de votre navigateur, vos temps d'accès.
          <br><br>De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
          </p>
      </div>

  </div>

</main>
