#collapsibleNavbar {
  align-items: center;
  justify-content: center;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  border-bottom: #dddddd solid 0.06rem;
}

.bg-primary {
  background-image: -webkit-linear-gradient(left, var(--fifth), var(--primary));
}

.bg-primary {
  background-image: -webkit-linear-gradient(left, var(--fifth), var(--primary));
}

.nav-link {
  font-family: "Varela Round";
  font-size: 0.9rem;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1.5rem;
}
