<main>

  <div class="container">

    <div class="bloc-text">
      <p>FICHE DE COMPÉTENCES</p>
    </div>

    <div class="jumbotron bloc-skills">

      <div class="box-skill">
        <h3 class="skill">HTML / CSS / SCSS</h3>
        <div class="progress">
          <div class="progress-bar-dev" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="max-width: 95%">
          <!--<span class="percent">60%</span>-->
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">Angular / TypeScript</h3>
        <div class="progress">
          <div class="progress-bar-dev" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="max-width: 86%">
          <!--<span class="percent">60%</span>-->
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">Spring boot</h3>
        <div class="progress">
          <div class="progress-bar-dev" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="max-width: 86%">
          <!--<span class="percent">60%</span>-->
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">JavaScript</h3>
        <div class="progress">
          <div class="progress-bar-dev" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="max-width: 75%">
          </div>
        </div>
      </div>

      <br>

      <div class="box-skill">
        <h3 class="skill">GitHub</h3>
        <div class="progress">
          <div class="progress-bar-tools" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="max-width: 75%">
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">Visual Studio Code</h3>
        <div class="progress">
          <div class="progress-bar-tools" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="max-width: 86%">
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">Heroku</h3>
        <div class="progress">
          <div class="progress-bar-tools" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="max-width: 50%">
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">FileZilla</h3>
        <div class="progress">
          <div class="progress-bar-tools" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="max-width: 80%">
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">OVH</h3>
        <div class="progress">
          <div class="progress-bar-tools" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="max-width: 70%">
          </div>
        </div>
      </div>

    <br>

      <div class="box-skill">
        <h3 class="skill">UX/UI</h3>
        <div class="progress">
          <div class="progress-bar-other" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
          </div>
        </div>
      </div>

      <div class="box-skill">
        <h3 class="skill">Graphisme</h3>
        <div class="progress">
          <div class="progress-bar-other" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="max-width: 70%">
          </div>
        </div>
      </div>

    </div>

  </div>

</main>
