$theme-colors: (
  primary: #55b192,
  secondary: #41866f,
  third: #2b3d50,
  third-transp: #2b3d50cb,
  fourth: #4c6b8b,
  fifth: #1ba4a4,
  text-primary: #707070,
  text-secondary: #ffffff,
  text-third: #83909d,
) !default;
