<main>

  <!-- introduction -->
  <div class="intro">
    <div class="jumbotron">
      <h1 class="display-5">Bienvenue sur mon CV !</h1>
      <p class="lead">Après l'obtention de mon diplom en génie électrique, j'ai décidé, en 2019, de me diriger vers le métier de Développeur Web.
        Mes compétences  m'accompagnent au  métier de développeur : sensibilité graphique, rédaction, etc.
      </p>
      <hr class="my-4">
      <p>Ma stack d'expertise se construit autour d'Angular et Java.</p>
      <a class="btn btn-third btn-lg" role="button" title="Go to the 'About' section" routerLink="/about" routerLinkActive="active">Learn more about me</a>
    </div>
  </div>

  <!-- img developer -->

  <div>
    <img class="img-dev" src="../../assets/images/developer-img.png">
    <br>
    <br>
  </div>
  

  <!-- news bloc -->

  <div class="news-bloc">
    <div class="card-group">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Informations rapides</div>
        <div class="card-body">
          <p class="card-text">En formation (2020-2023)</p>
          <p class="card-text">"génie logiciel"</p>
          <p class="card-text">Tunis,Tunisie</p>
          <a class="link" title="Education" routerLink="/education" routerLinkActive="active">⁘ Education ⁘</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">News</div>
        <div class="card-body">
          <p class="card-text">Développeur Full Stack
            <span class="badge badge-secondary">New!</span> <!-- badge New! -->
          </p>
          <p>(stagiaire) chez PURA Solutions</p>
          <p>Angular / Java</p>
          <a class="link" title="Experience" routerLink="/experience" routerLinkActive="active">⁘ Experience ⁘</a>
        </div>
      </div>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Compétences</div>
        <div class="card-body">
          <p class="card-text">Angular</p>
          <p>Java</p>
          <p>Git</p>
          <a class="link" title="Skills" routerLink="/skills" routerLinkActive="active">⁘ Skills ⁘</a>
        </div>
      </div>
    </div>
  </div>

</main>
